@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@layer base {
  body {
    font-family: 'Noto Sans KR', sans-serif;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
